// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#client_name {
    margin-top: 15px;
    margin-left: 10px;
}

#client_phone {
    margin-left: 8px;
}